Prueba ICC-Victoria Gallo.json
{
  "name": "Prueba ICC-Victoria Gallo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/analyze-press",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "de3b0c36-885c-400e-adf3-f4d35caa4fd0",
      "name": "Webhook",
      "webhookId": "f253a37c-f3e9-4d8e-9829-67894ccfaf8d"
    },
    {
      "parameters": {
        "url": "https://script.google.com/macros/s/AKfycbyPP_fxSfu6vajpZG_0VNVggSA0eIoW38kSCG1a2zA5UlB9dsNoQn8gGf1UZ9l8oMIQJg/exec",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "getData"
            },
            {
              "name": "limit",
              "value": "50"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "a67d8d11-0ffa-4970-8e02-87e3c50f8481",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const datosHojaCalculo = $json; \nconst numRegistros = datosHojaCalculo.data ? datosHojaCalculo.data.length : 0; \nconst cobertura = numRegistros * 2; \nconst alcance = numRegistros * 1000;\nconst duracion = 15;\nconst engagement = Math.floor(Math.random() * 100); \n\nreturn [\n  {\n    json: {\n      cobertura: cobertura,  \n      alcance: alcance,      \n      duracion: duracion,    \n      engagement: engagement\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "b93a168e-8d90-4cb5-813c-5b7152ffc894",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fda8cd28-c417-4d59-b374-3af2bb74c53d",
  "meta": {
    "instanceId": "6816fcd45df71863e98352f4e2ca8bf6a9d2908b4f62edaf9d5f737e16174961"
  },
  "id": "KRivCWAOhg9iTnrN",
  "tags": []
}